<div class="cell">
  <h4>For <%= @character.name %>'s eyes only!</h4>
  <%= @knowledge.first %></br>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Toggle Special Knowledge</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <% @knowledge[1..-1].each do |message| %>
          <li> <%= message %> </li>
          <% end %>
        </ul>
      </div>
    </li>
  </ul>

  <% if @game.is_owner? @character %>
    <%= form_for @game do |f| %>
    <%= f.hidden_field :active, value: '0' %>
    <p>
      <%= f.submit "Stop Game", class: "button alert" %>
    </p>
    <% end %>
  <% end %>


  <script>
    const game = <%= @game.to_json.html_safe %>;
    const character = <%= @character.to_json.html_safe %>;

    // app/assets/javascript/channels/game.coffee
    if( typeof activateGameChannel == "function" ) { App["game"] = activateGameChannel( game ); }
    // app/assets/javascript/channels/character.coffee
    if( typeof activateCharacterChannel == "function" ) { App["character"] = activateCharacterChannel( character ); }
    // app/assets/javascript/channels/game_character.coffee
    if( typeof activateGameCharactersChannel == "function" ) { App["gameCharacters"] = activateGameCharactersChannel( game ); }

  </script>
</div>
