<div class="cell">
  <%= form_for @game, url: character_game_path  do |f| %>
    <% if @game.errors.present? || flash[:notice].present? %>
        <div id="error_explanation">
          <ul>
            <% [*@game.errors.full_messages, *flash[:notice]].each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <p>
      <%= f.label "Number of Bad Characters" %><br>
      <%= f.text_field :bad_number %>
    </p>
    <h4>Special Good Characters</h4>
    <%= check_box_tag "game[special_good][]", "Merlin", @game.special_good.include?("Merlin") %>
    <%= f.label "Merlin (knows evil, must remain hidden)" %></br>
    <%= check_box_tag "game[special_good][]", "Percival", @game.special_good.include?("Percival") %>
    <%= f.label "Percival (knows Merlin)" %></br>
    <%= check_box_tag "game[special_good][]", "LiberalSpy", @game.special_good.include?("LiberalSpy") %>
    <%= f.label "Liberal Spy (appears bad)" %></br>
    <%= check_box_tag "game[special_good][]", "Churchill", @game.special_good.include?("Churchill") %>
    <%= f.label "Churchill" %></br>
    <%= check_box_tag "game[special_good][]", "ChurchillSupporter", @game.special_good.include?("ChurchillSupporter") %>
    <%= f.label "Churchill Supporter (knows who Churchill is)" %>
    <h4>Special Bad Characters</h4>
    <%= check_box_tag "game[special_bad][]", "Mordred", (@game.special_bad || []).include?("Mordred") %>
    <%= f.label "Mordred (unknown to Merlin)" %></br>
    <%= check_box_tag "game[special_bad][]", "Morgana", (@game.special_bad || []).include?("Morgana") %>
    <%= f.label "Morgana (appears as Merlin)" %></br>
    <%= check_box_tag "game[special_bad][]", "Oberon", (@game.special_bad || []).include?("Oberon") %>
    <%= f.label "Oberon (unknown to evil)" %></br>
    <%= check_box_tag "game[special_bad][]", "SecretHitler", (@game.special_bad || []).include?("SecretHitler") %>
    <%= f.label "Secret Hitler" %>
    <div class="button-group">
      <%= f.submit "Update", class: "button warning" %><%= link_to "Back To Game", character_game_path, class: "button" %>
    </div>
  <% end %>
</div>
