<div class="cell">
  <h3>Game Code: <span class="label" style="font-size:1.2em;"><%= @game.code%></span></h3>

  <% if @game.is_owner? @character %>
    <%= link_to "Configure", edit_character_game_path, class: 'button' %>
  <% end %>

  <div id="game-bad-chars"><%= render partial: "bad_chars", locals: { game: @game } %></div>
  <div id="game-good-chars"><%= render partial: "good_chars", locals: { game: @game } %></div>
  <p>
    Number of Bad Characters: <span class="label alert" id="game-bad-number"><%= @game.bad_number %></span>
  </p>

  People who have joined (currently <span id="character-count"><%= @game.characters.count %></span>):
  <ul id="character-list" data-game="<%=@game.id%>" >
    <% @game.characters.each do |character| %>
      <%= render partial: "character", locals: { character: character, yourself: @character, game: @game } %>
    <% end %>
  </ul>

  <%= form_for @game do |f| %>
    <%= f.hidden_field :active, value: '1' %>
    <div id="game-start"><%= render partial: "start", locals: { game: @game, character: @character } %></div>
  <% end %>
</div>



<script>
  const game = <%= @game.to_json.html_safe %>;
  const character = <%= @character.to_json.html_safe %>;

  // app/assets/javascript/channels/game.coffee
  if( typeof activateGameChannel == "function" ) { App["game"] = activateGameChannel( game ); }
  // app/assets/javascript/channels/character.coffee
  if( typeof activateCharacterChannel == "function" ) { App["character"] = activateCharacterChannel( character ); }
  // app/assets/javascript/channels/game_character.coffee
  if( typeof activateGameCharactersChannel == "function" ) { App["gameCharacters"] = activateGameCharactersChannel( game ); }


  $(document).on('turbolinks:load', function() {
    $("#character-list").on('click', '.character-remove', function(event) {
      $target = $(event.currentTarget);

      App["gameCharacters"].send({
        characterId: $target.parents('li').data().character,
        action: "kick"
      });

      event.preventDefault();
    });
  });
</script>
